netbeans-projects/WS/CalculadoraWSCliente/xml-resources/web-service-references/CalcWS/wsdl/localhost_8084/CalculadoraWS/CalcWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servico.calculadora.ws.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servico.calculadora.ws.br/" name="CalcWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://servico.calculadora.ws.br/" schemaLocation="http://localhost:8084/CalculadoraWS/CalcWS?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="mult">
<part name="parameters" element="tns:mult"/>
</message>
<message name="multResponse">
<part name="parameters" element="tns:multResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<portType name="CalcWS">
<operation name="add">
<input wsam:Action="http://servico.calculadora.ws.br/CalcWS/addRequest" message="tns:add"/>
<output wsam:Action="http://servico.calculadora.ws.br/CalcWS/addResponse" message="tns:addResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://servico.calculadora.ws.br/CalcWS/subRequest" message="tns:sub"/>
<output wsam:Action="http://servico.calculadora.ws.br/CalcWS/subResponse" message="tns:subResponse"/>
</operation>
<operation name="mult">
<input wsam:Action="http://servico.calculadora.ws.br/CalcWS/multRequest" message="tns:mult"/>
<output wsam:Action="http://servico.calculadora.ws.br/CalcWS/multResponse" message="tns:multResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://servico.calculadora.ws.br/CalcWS/divRequest" message="tns:div"/>
<output wsam:Action="http://servico.calculadora.ws.br/CalcWS/divResponse" message="tns:divResponse"/>
</operation>
</portType>
<binding name="CalcWSPortBinding" type="tns:CalcWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalcWSService">
<port name="CalcWSPort" binding="tns:CalcWSPortBinding">
<soap:address location="http://localhost:8084/CalculadoraWS/CalcWS"/>
</port>
</service>
</definitions>